name: Debian

on:
  push:
    branches:
      - '**'
    tags:
      - 'v[0-9]+.[0-9]+.[0-9]+'
      - 'v[0-9]+.[0-9]+.[0-9]+-*'
  pull_request:

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
        with:
          fetch-depth: 0
      - name: Extract Version
        run: echo PKG_VERSION=$(grep '<version>' edgefirst_msgs/package.xml | sed 's/.*<version>\(.*\)<\/version>.*/\1/') >> $GITHUB_ENV
      - name: Docker Multiarch
        run: docker run --privileged --rm tonistiigi/binfmt --install all
      - name: Build AMD64
        run: |
          docker build . --target debian --tag edgefirst-schemas:${PKG_VERSION}-${GITHUB_RUN_NUMBER}_amd64 --platform linux/amd64 --build-arg USER_UID=$(id -u) --build-arg USER_GID=$(id -g)
          docker run --rm -v ${PWD}:/pkg edgefirst-schemas:${PKG_VERSION}-${GITHUB_RUN_NUMBER}_amd64 sh -c 'cp -f *.deb /pkg'
      - name: Build ARM64
        run: |
          docker build . --target debian --tag edgefirst-schemas:${PKG_VERSION}-${GITHUB_RUN_NUMBER}_arm64 --platform linux/arm64 --build-arg USER_UID=$(id -u) --build-arg USER_GID=$(id -g)
          docker run --rm -v ${PWD}:/pkg edgefirst-schemas:${PKG_VERSION}-${GITHUB_RUN_NUMBER}_arm64 sh -c 'cp -f *.deb /pkg'
      - uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
        with:
          name: deb
          path: ./*.deb
